.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

:host {
    .react-calendar-heatmap .color-scale-0 { fill: #d6e685; }
    .react-calendar-heatmap .color-scale-1 { fill: #8cc665; }
}
